link(rel='stylesheet', type='text/css', href="css/style.css")
script(src="js/jquery-3.0.0.min.js")
script(src="js/jquery-migrate-1.4.1.min.js")
//script(src="js/components/lazyload.min.js")
//script(src="js/components/jquery.fancybox.js")
//script(src="js/components/jquery.formstyler.js")
//script(src="js/components/jquery.mCustomScrollbar.js")
//script(src="js/components/slick.js")
script(src="js/custom.js")